h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

a {
    text-decoration: none;
    line-height: normal;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    scrollbar-width: thin;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #EEE8DF;
    font-family: 'Manrope';
}

.container {
    max-width: 100%;
    padding: 0 90px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}

.header {
    flex: 0 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    color: #16192F;
}

.button__text {
    font-weight: 800;
    font-size: 14px;
    color: #fff;
}

.header {
    margin: 30px 0;

    &__row {
        flex-direction: column;
        gap: 20px;
        padding: 0 50px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__address {   
        font-weight: 700;
        font-size: 16px;
        color: #16192f;
        opacity: .5;
    }

    &__button {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__logo {
        margin-right: 85px;
        flex-shrink: 0;
    }

    &__middle {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-line {
            display: flex;
            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        }
    }

    &__menu {
        display: flex;
        gap: 30px;
        margin-left: 17px;

        &-text {
            
            font-weight: 400;
            font-size: 16px;
            color: #16192f;
        }
    }

    &__number {
        & a {
            
            font-weight: 700;
            font-size: 16px;
            color: #16192f;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
}

.main__fon {
    background-color: #16192F;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
}

.arrow {
      clip-path: inset(0 0 100% 0);
}

.titleGsap {
    z-index: 1000;
    color: rgba($color: #EEE8DF, $alpha: 0.4);
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: inline-block;
    background: linear-gradient(90deg, #EEE8DF 0%, #EEE8DF 0%) no-repeat;
    background-size: 0% 100%;
    -webkit-background-clip: text;
    background-clip: text;
}

.product {
    position: relative;
    padding: 50px 0 0 0;
    height: calc(100vh - 249.8px);
    box-sizing: border-box;

    &__left {
        & img {
            margin-top: 83px;
        }
    }

    &__stand {
        position: absolute;
        bottom: 10px;
        right: 92px;
        max-width: 620px;
    }

    &__row {
        gap: 5px;
        padding: 0 50px;
    }

    &__title {
        max-width: 700px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 27px;

        &-item {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &-text {  
            font-weight: 400;
            font-size: 16px;
            color: #16192F;
        }
    }

    &__subtitle {
        
        font-weight: 700;
        font-size: 16px;
        color: #16192f;
        margin-bottom: 25px;
    }

    &__button {
        border-radius: 50px;
        padding: 13px 25px 13px 24px;
        background: #2C365E;
        max-width: max-content;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.service {
    margin-bottom: 45px;

    &__row {
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 54px;
        color: #16192f;
        margin: 0 auto 4px auto;
    }

    &__line {
        height: 2px;
        width: 1066px;
        background: #16192f;
        margin: 0 auto 14px auto;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        color: #16192f;
        margin: 0 auto 32px auto;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;

        &-item {
            padding: 20px;
            box-sizing: border-box;
            width: calc(25% - 15px);
            height: 300px;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            background: #d9d9d9;
            margin-right: 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        &-text {
            margin-top: auto;
            margin-bottom: 7px;
            
            font-weight: 600;
            font-size: 16px;
            color: #16192f;
            text-transform: uppercase;
        }
    }
}

.print {
    margin-bottom: 45px;

    &__row {
        flex-direction: column;
    }
}

.about {
    position: relative;
    overflow: hidden; 

    &__row {
        flex-direction: column;
        padding-bottom: 300px;
    }

    &__title {       
        font-weight: 700;
        font-size: 54px;
        color: #16192f;
        margin-left: 50px;
        margin-bottom: 4px;
    }

    &__line {
        height: 2px;
        max-width: 737px;
        width: 100%;
        background: #16192f;
        margin-bottom: 10px;
    }

    &__subtitle {      
        font-weight: 600;
        font-size: 16px;
        color: #16192f;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    &__text {   
        font-weight: 400;
        font-size: 16px;
        color: #16192f;
        margin-left: 50px;
        margin-bottom: 8px;
        max-width: 500px;
    }

    &__right {
        position: absolute;
        right: -39px;
        top: 0;

        &-fon {
            position: absolute;
            right: 0;
            bottom: 90px;
            z-index: -1;
        }
    }
}

.portfolio {
    position: relative;
    margin-top: -140px;

    &__fon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__container {
        padding: 0;
    }

    &__row {
        padding: 125px 0 119px 0;
        flex-direction: column;
        position: relative;
        z-index: 5;
    }

    &__title {
        font-weight: 700;
        font-size: 54px;
        color: #fff;
        margin-left: 143px;
        margin-bottom: 51px;
    }

    &__box {
        display: flex;

        &-item {
            width: 33.3333%;
            height: 673px;

            &:first-child {
                background: #d9d9d9;
            }

            &:nth-child(2) {
                background: #8b8b8b;
            }

            &:last-child {
                background: #5e5e5e;
            }
        }
    }
}

.faq {
    &__row {
        flex-direction: column;
        padding: 60px 0 100px;
    }

    &__title {
        font-weight: 700;
        font-size: 54px;
        color: #16192f;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        color: #16192f;
        opacity: .8;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    &__bottom {
        &-item {
            max-width: 920px;
            box-sizing: border-box;
            border-bottom: 1px solid #16192f;
            display: flex;
            flex-direction: column;
        }

        &-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 30px 20px 0;
            box-sizing: border-box;

            & span {
                font-weight: 400;
                font-size: 16px;
                color: #16192f;
                overflow-wrap: break-word;
            }

            &-svg path {
                transition: stroke 1s ease;
                stroke: #ff0000;
            }

            &-svg {
                transition: transform 1s ease;

                &.active {
                    transform: rotate(180deg);
                }

                &.active path {
                    stroke: #fff;
                }
            }

            &-active {
                display: none;
                
                &.active {
                    display: block;
                }
            }
        }

        &-line {
            width: 0;
            background-color: #16192f;
            height: 1px;
            transition: width 1s ease;


            &.active {
                width: 100%;
            }
        }

        &-answer {
            font-weight: 400;
            font-size: 16px;
            color: #16192f;
            padding: 0 30px 0 0;
            height: 0;
            overflow: hidden;
            transition: height 1s ease, padding 0.4s ease;

            &.active {
                height: auto;
                padding: 20px 30px 20px 0;

                & .faq__bottom-answer-text {
                    opacity: 1;
                }
            }

            &-text {
                opacity: 0;
                transition: opacity 1s ease .2s;
                overflow-wrap: break-word;
            }
        }
    }
}
